<div id="root" class="container">
	<hero inline-template>
		<div>
			<h1>This is inline template with {{message}}</h1>
			<button @click="message+=10">Cong them</button>
		</div>				
	</hero>
</div>
<script>		
	var app=new Vue({
		el: "#root"		
	});
</script>