<style>
	.color-red{
		color:red;
	}
	.color-blue{
		color:blue;
	}
	.is-loading{
		background: green;
	}
</style>
<div id="root">
<task-list></task-list>
	<h1 :class="className">Hello World</h1>
	<button @click="remove" 
		:title="title" 
		:class="{'is-loading': isLoading}">
		Remove top name
	</button>
	<ul>
		<li v-for="name in names" v-text="name"></li>
	</ul>
	<input type="text" v-model="new_name">
	<button @click="add">Add name</button>
	<h2>All tasks</h2>
	<ul>
		<li v-for="task in tasks" v-text="task.description"></li>
	</ul>
	<h2>Incomplete tasks</h2>
	<ul>
		<li v-for="task in incompleteTasks" v-text="task.description"></li>
	</ul>
</div>
<script>
		
	var app=new Vue({
		el: "#root",
		data: {
			className: 'color-red',
			isLoading: true,
			title: 'Click to pop',
			new_name: '',
			names: ['Hung','Han','Anh','Em'],
			tasks: [
				{description: 'Mot',completed: true},
				{description: 'Hai',completed: false},
				{description: 'Ba',completed: true},
				{description: 'Bon',completed: true},
				{description: 'Nam',completed: false},
				{description: 'Sau',completed: true}
			]
		},
		methods: {
			remove: function(){
				this.names.shift();
				this.isLoading= !this.isLoading;
			},
			add(){				
				this.names.push(this.new_name);
				this.new_name='';				
			}
		},
		computed: {
			incompleteTasks(){
				return this.tasks.filter(task => !task.completed);
			}
		}		
	});	
</script>