<div id="root" class="container">	
	<h2>All persons</h2>
	<ul>
		<li v-for="person in persons">{{person.name}}</li>
	</ul>
</div>
<script>
	Vue.prototype.$http=axios;		
	var app=new Vue({
		el: "#root",
		data:{
			persons: []
		},
		mounted(){
			this.$http.get("/getData.json")
			.then(res=>{
				console.log(res.data);
				this.persons=res.data;
			})
			.catch(err=>console.log(err));
		}			
	});
</script>