<style>
	.color-red{
		color:red;
	}
	.color-blue{
		color:blue;
	}
	.is-loading{
		background: green;
	}
</style>
<div id="root" class="container">
	<!-- <message title="Hello World" body="Lorem ipsum dolor sit amet, consectetur adipiscing elit."></message>
	<message title="Nguyen Dinh Hung" body="Kamejoko Ha ha ha"></message> -->
	<modal v-show="showModal" @close="showModal=false"></modal>
	<button @click="showModal = true">Show modal</button>
</div>
<script>
		
	var app=new Vue({
		el: "#root",
		data: {
			showModal: false,
			className: 'color-red',
			isLoading: true,
			title: 'Click to pop',
			new_name: '',
			names: ['Hung','Han','Anh','Em'],
			tasks: [
				{description: 'Mot',completed: true},
				{description: 'Hai',completed: false},
				{description: 'Ba',completed: true},
				{description: 'Bon',completed: true},
				{description: 'Nam',completed: false},
				{description: 'Sau',completed: true}
			]
		},
		methods: {
			remove: function(){
				this.names.shift();
				this.isLoading= !this.isLoading;
			},
			add(){				
				this.names.push(this.new_name);
				this.new_name='';				
			}
		},
		computed: {
			incompleteTasks(){
				return this.tasks.filter(task => !task.completed);
			}
		}		
	});	
</script>