<div id="root" class="container">
	<cou @chem="applied"></cou>
	<h1 v-show="noticeShow">Bạn vừa nhập cái gì đó</h1>
</div>
<script>		
	var app=new Vue({
		el: "#root",
		data:{
			noticeShow: false
		},
		methods: {
			applied(){
				this.noticeShow=true;
			}
		}
	});
</script>